<div class="card lime lighten-3">
  <div class="card-content black-text">
    <span class="card-title">Add a new Product to the list</span>
    <div class="input-field">
      <label for="name"> Productname:</label>
      <input id="name" type="text" [(ngModel)]="item.produkt">
      <p class="range-field"> Price: {{item.kosten}} €
        <input name="price" [(ngModel)]="item.kosten" type="range" min="0.1" max="20" step="0.05" />
      </p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn" (click)="addItem()">
        <i class="material-icons big">add</i>
      </a>
    </div>
  </div>
</div>
