<p>
  <label>
    <input type="checkbox" class="filled-in" [(ngModel)]="displayChecked"/>
    <span>Display Items you already got</span>
  </label>
</p>
<table *ngIf="itemListService.items.length >= 1" class="lime lighten-3 highlight bordered responsive-table">
  <thead>
    <tr class="lime darken-1">
      <th (click)="sort('produkt')">
        Productname
        <i class="material-icons prefix" *ngIf="(sortBy === 'produkt')">{{icon}}</i></th>
      <th (click)="sort('kosten')">
        Price
        <i class="material-icons" *ngIf="(sortBy === 'kosten')">{{icon}}</i>
      </th>
      <th (click)="sort('erledigt')">
        Got it!
        <i class="material-icons" *ngIf="(sortBy === 'erledigt')">{{icon}}</i></th>
      <th>Remove it</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of itemListService.items">
      <tr *ngIf="(displayChecked == item.erledigt || item.erledigt == 0)">
        <td>{{item.produkt}}</td>
        <td>{{item.kosten}}</td>
        <td>
            <div class="switch">
              <label>
                <input id={{item.id}} type="checkbox" [checked]="item.erledigt === 1">
                <span class="lever" (click)="switchItemStatus(item.id)"></span>
              </label>
            </div>
        </td>
        <td>
          <a (click)="deleteItem(item.id)" class="btn waves-effect waves-light red darken-2"><i class="material-icons">delete</i></a>
        </td>
      
      </tr>
    </ng-container>
  </tbody>
</table>
